/* NAVBAR SETTINGS */

.navbar-brand{
  font-family: 'Fredoka One', cursive;
}

.nav-item{
  font-family: 'Comfortaa', cursive;
  padding-right: 10px;
}

/* FIRST PAGE */

.first-page{
  width: 100%;
  height: 600px;
  background-color: #263238;
}

.card{
  height:480px;
  width: 321;
  overflow: visible;
}

.activator{
  width:200px;
}

.card-content{
  height: 240px;
  background-color: #ffc107   ;
}

.DEVICE-NAME{
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 600;
}

.last-section{
  width: 100%;
  height: 170px;
  background-color: #ff8f00 ;
}

.last-div-button{
  padding: 40px 40px;
  text-align: center;
  outline-style: none;
}

.styling-button{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  color:#37474f;
  border: 3px solid #37474f;
  padding: 15px 55px;
  border-radius: 50px;
  background-color: #e8e8e8  ;
  position: relative;
  z-index: 3;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }

.styling-button:hover{
  border: 3px solid #e8e8e8;
  background-color: #525252  ;
  color: #e8e8e8;
  font-size: 1.2rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.styling-button:active{
  border: 3px solid #e8e8e8;
  background-color: #313131;
  color: #e8e8e8;
  font-weight: 800;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
